<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat atque
      recusandae consequatur labore mollitia esse quia ipsum, velit nesciunt ea.
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="Images/sprite.svg#easy"></use>
        </svg>
      </span>
      <header>
        <h3 class="feature__heading">Super Easy to Use</h3>
      </header>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat qui
        recusandae eius commodi at numquam sed reprehenderit placeat dolor eum.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture
      ><img
        class="feature__img"
        src="/Images/easy.jpg"
        alt=""
        class="feature__img"
    /></picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="Images/sprite.svg#easy"></use>
        </svg>
      </span>
      <header>
        <h3 class="feature__heading">Super Easy to Use</h3>
      </header>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat qui
        recusandae eius commodi at numquam sed reprehenderit placeat dolor eum.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture
      ><img
        class="feature__img"
        src="/Images/easy.jpg"
        alt=""
        class="feature__img"
      />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="Images/sprite.svg#easy"></use>
        </svg>
      </span>
      <header>
        <h3 class="feature__heading">Super Easy to Use</h3>
      </header>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat qui
        recusandae eius commodi at numquam sed reprehenderit placeat dolor eum.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture
      ><img
        class="feature__img"
        src="/Images/easy.jpg"
        alt=""
        class="feature__img"
    /></picture>
  </article>
</section>
